body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

#score {
    color: white; /* Ensuring it stands out against a potentially dark background */
    font-size: 24px; /* Make it large enough to be easily visible */
    padding: 10px; /* Some padding around the text */
}

#gameArea {
    width: 400px;
    height: 400px;
    border: 1px solid white;
}

canvas {
    background-color: #000;
    display: block;
    position: relative;
    margin: auto;
}
